/* General Styles */
body {
    background-color: white;
    font-family: Arial, sans-serif;
  }
  
  .header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: white;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(80, end);
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  