body {
    background-color: #f0f4f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .transport {
    margin: 20px 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .transport h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .transport label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
  }
  
  .source {
    margin-top: 30px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .source h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .src {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: calc(100% - 22px);
    font-size: 1em;
  }
  
  .tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-top: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: 0.9em;
  }
  
  .result {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .result ul {
    list-style-type: none;
    padding: 0;
  }
  
  .result li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
    color: #333;
  }
  
  .result li:hover {
    cursor: pointer;
    background-color: #e0e7ff;
  }
  
  .people {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .people h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
  }
  
  .people input {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100px;
  }
  
  .text1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333;
    
  }
  
  .total {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .total h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .total-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .total-details div {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    color: #333;
  }
  
  .total-count, .total-cost {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
  }
  
  .total-count {
    margin-top: 10px;
  }
  
  .total-cost {
    margin-top: 10px;
  }